.movieDetailsTitle{
    color: black;
    font-size: 18px;
    text-align: left;
}

.titleMovie{
    text-align: center;
    text-decoration: underline;
}

.addInfoMovie{
    text-align: left;
    border: 3px solid purple;
}

.addTitleMovie{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;   
}

.listMovie{
    font-size: 18px;
    color: purple;
}