.listFilms{
list-style: none;
padding: 0;
}   

.itemFilms{
margin: 10px;
border: 2px solid purple;
}

.linkFilms{
    font-size: 14px;
    color: purple;
}

.titlePage{
    font-size: 36px;
}

.nameFilm{
    color: purple;
    font-size: 32px;
    margin: 0;
    padding-bottom: 10px;
}

.nameFilmText{
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
}